.stat-card, .graph-card {
    margin-bottom: 15px;

    .card-body{
        @extend .row;
        padding: 1rem;
    }
    .card-loader {
        position: absolute;
        top:45%;
        left:0;
        right:0;
        text-align: center;

        i{
            color:$text-muted;
            font-size: 32px;
        }
    }
    .graph {
        padding: 2rem;
    }
    .stat {
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        padding: 2rem 0;

        small {
            @extend .text-muted;
            display: block;
            font-size: 14px;
        }
    }
    .stat_label h5 {
        padding: .25rem 0 0 .5rem;
    }
    .stat_controls,
    .graph_controls {
        text-align: right;
        // padding-right: 1.2rem;

        a {
            @extend .text-muted;
            font-size: 14px;
            display: inline-block;
            padding: .25rem .65rem;
            color: $gray-800;
            border-radius: 2px;

            &:hover{
                text-decoration: none;
                background-color: $gray-100;
            }
            &.active {
                border-bottom: 2px solid $primary;
                border-radius: 2px 2px 0 0;
            }
        }
    }
}