.welcome_card {

    .card-body {
        padding: 1rem 2rem .625rem 2rem;
    }
    .start_item {
        position: relative;
        display: block;
        padding: 1.125rem 2rem;
        border-top: 1px solid $gray-100;
        text-decoration: none;
        color: $gray-900;
        font-size: 14px;
        cursor: pointer;

        i.far {
            color: $gray-400;
            margin-right: 8px;
            font-size: 16px;

            &:before{
                content: '\f111'
            }
        }

        // hover, not complete
        &:hover {
            background-color: lighten($gray-100, 2%);

            i.far {
                color: $gray-500;
            }
            &::after {
                @extend .far;
                content: '\f054';
                position: absolute;
                right:24px;
                top:23px;
                opacity: 0.3;
            }
        }

        // complete and hover
        &.completed,
        &.completed:hover {
            background-color: initial;
            color: $text-muted;
            text-decoration: line-through;
            cursor: inherit;

            // No chevron on hover
            &:after{ content: '' }

            // Mark as complete
            i.far {
                @extend .fas;
                color: #91d472;

                &:before{
                    content: '\f058'
                }
            }
        }
    }
}